/* Set the chessboard size */
.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 1px;
    border: 1px solid black;
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
    container-type: size;
}

/* Style the chessboard grid */
.chessboard div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The chessboard grid when hover on */
.chessboard .grid:hover {
    filter: hue-rotate(10deg) saturate(1.1) contrast(200%);
    background-color: aqua;
}

/* The chessboard grid when click */
.chessboard .grid:active {
    background-color: aqua;
    border: 0.5cqw solid #02960a;
}

/* Style the dark squares */
.chessboard .black{
    background-color: #ccc;
    border-color: #ccc;
}

/* Style the light squares */
.chessboard .white {
    background-color: #eee;
    border-color: #eee;
}

/* Style for when viewport width is more than height */
@media (orientation: landscape){
.chessboard {
    width: 90vh;
    height: 90vh; 
    /* float: left; */
}
.panel {
    flex-direction: column;
    height: min(90vw, 90vh);
    margin: 0px 5px;
}
div:has(.chessboard) {
    flex-direction: row;
}
}

/* Style for when viewport width is less than height */
@media (orientation: portrait){
.chessboard {
    width: 90vw;
    height: 90vw; 
}
.panel {
    flex-direction: row;
    width: min(90vw, 90vh);
    margin: 5px 0px;
}
div:has(.chessboard) {
    flex-direction: column;
}
}

/* Chess size. Relate to the grid */
.chess-piece {
    font-size: 9.3cqw !important;
}

/* Chess color */
.chess-piece i.blue {color: cornflowerblue !important;}
.chess-piece i.red {color: firebrick !important;}

/* Style for the panel button */
button {
    padding: 7px 15px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 5px 5px;
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    background-color: #d0d0d0;
}

/* Style the panel */
.panel {
    display: flex;
    /* justify-content: center; */
    background-color: #fff;
    border: 2px dotted #666;
    border-radius: 10px;
}

/* The chessboard and panel position */
div:has(.chessboard) {
    display: flex;
}

/* Style the upload button */
#file-input {
    display: none;
}

.file-input {
    display: inline-block;
    padding: 7px 7px;
    background-color: #8cc0f8;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin: 5px 5px;
}

.file-input:hover {
    background-color: #0056b3;
    color: white;
}
