/* Set the chessboard size */
.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 1px;
    border: 1px solid black;
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
    container-type: size;
    cursor: pointer;
}

/* Style the chessboard grid */
.chessboard div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The chessboard grid when hover on */
.chessboard .grid:hover {
    /* filter: hue-rotate(10deg) saturate(1.1) contrast(200%); */
    background-color: aqua;
}

/* The chessboard grid when click */
.chessboard .grid:active {
    background-color: aqua;
    border: 0.5cqw solid #02960a;
}

/* Style the dark squares */
.chessboard .black {
    background-color: #ccc;
    border-color: #ccc;
}

/* Style the light squares */
.chessboard .white {
    background-color: #eee;
    border-color: #eee;
}

/* Chess size. Relate to the grid */
.chess-piece {
    font-size: 9.3cqw !important;
}

/* Chess color */
.chess-piece i.blue {
    color: cornflowerblue !important;
}

.chess-piece i.red {
    color: firebrick !important;
}

/* Valid moves highlight style */
.valid-move {
    border: 0.7cqw solid #568d64 !important;
}

/* Last moves highlight style */
.grid.highlight {
    outline: 0.7cqw solid yellow;
    outline-offset: -1.4cqw;
}

/* Style for the panel button */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 5px 5px;
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    background-color: #d0d0d0;
}

/* Style the panel */
.panel {
    display: flex;
    /* justify-content: center; */
    background-color: #fff;
    border: 2px dotted #666;
    border-radius: 10px;
}

/* Styles for the turn indicator element that displays the current player's turn */
.turn-indicator {
    padding: 8px 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-weight: bold;
    margin: 5px 5px;
}

.turn-indicator span {
    padding: 5px;
}

/* The chessboard and panel position */
div:has(.chessboard) {
    display: flex;
}

div.blur {
    filter: blur(5px);
}

.login-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

.login-box-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-box input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-box input[type="submit"]:hover {
    background: #0056b3;
}

.password-label {
    font-size: 24px;
}

/* Style for when viewport width is more than height */
@media (orientation: landscape) {
    .chessboard {
        width: 90vh;
        height: 90vh;
        /* float: left; */
    }

    .panel {
        flex-direction: column;
        height: min(90vw, 90vh);
        margin: 0px 5px;
    }

    div:has(.chessboard) {
        flex-direction: row;
    }
}

/* Style for when viewport width is less than height */
@media (orientation: portrait) {
    .chessboard {
        width: 90vw;
        height: 90vw;
    }

    .panel {
        flex-direction: row;
        width: min(90vw, 90vh);
        margin: 5px 0px;
    }

    div:has(.chessboard) {
        flex-direction: column;
    }
}