<!DOCTYPE html>
<html>
<head>
    <title>Chessboard</title>
    <!-- <link href="static/assets/fontawesome/css/regular.min.css" rel="stylesheet" /> -->
    <link href="static/assets/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="static/style.css" rel="stylesheet">
</head>
<body>
    <div>
        <div class="chessboard" id="chessboard">
            <!-- Chessboard squares create area -->
        </div>
        <div class="panel">
            <button id="new-game-button">New Game</button>
            <button id="undo-button">Undo</button>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>